<div class="header" id="header">
    <div class="menu">
        <ul>
            <li href="#">
                <img src="../../assets/xmas.png" alt="Logo do Natal">
                Feliz Natal
            </li>
            <div class="menu-right">
                <li> <a href="#header">      Inicio     </a></li>
                <li> <a href="#acessorios">  Acessórios </a></li>
                <li> <a href="#doacao">      Doação     </a></li>
                <li> <a href="#contato">     Contato    </a></li>
            </div>
        </ul>
    </div>
    <main>
        <div class="natal-text">
            <div class="natal-text-main">
                <h1> Feliz Natal e </h1>
                <h1> Feliz Ano Novo!</h1>
            </div>
            <div class="natal-text-sub">
                <p> Nessas festas de fim de ano mande um presente para a pessoa amada e compartilhe a alegria do Natal. </p>
                <div class="natal-btn">
                    <img src="../../assets/gift.png" alt="Icone de Presente">
                    Faça uma doação
                </div>
            </div>
        </div>
        <div class="natal-img">
            <img src="../../assets/header.png" alt="Imagem do Header">
        </div>
    </main>
</div>