<footer id="contato">
    <div class="footer-esq">
        <img src="../../assets/xmas.png" alt="">
        Feliz Natal
    </div>
    <div class="footer-dir">
        <div class="footer-dir-item">
            <img src="../../assets/twitter.png" alt="Logo do Twitter">
        </div>
        <div class="footer-dir-item">
            <img src="../../assets/instagram.png" alt="Logo do Instagram">
        </div>
        <div class="footer-dir-item">
            <img src="../../assets/linkedin.png" alt="Logo do linkedIn">
        </div>
        <div class="footer-dir-item">
            <img src="../../assets/youtube.png" alt="Logo do Youtube">
        </div>
        <div class="footer-dir-item">
            <img src="../../assets/facebook.png" alt="Logo do Facebook">
        </div>
    </div>
</footer>