<div class="acessorios" id="acessorios">
    <div class="text-main">
        <h2>Acessórios</h2>
        <p> Nessas festas de fim de ano mande um presente para a pessoa amada e compartilhe a alegria do Natal. </p>
    </div>
    <div class="acessorios-box">
        <div class="acessorios-box-item">
            <img src="../../assets/giving1.png" alt="Caixa de Presente">
            <h3>Presentes</h3>
            <p>Eles são os melhores presentes que existem.</p>
        </div>
        <div class="acessorios-box-item">
            <img src="../../assets/giving2.png" alt="Caixa de Presente">
            <h3>Enfeites</h3>
            <p>Dê uma decoração.</p>
        </div>
        <div class="acessorios-box-item">
            <img src="../../assets/giving4.png" alt="Caixa de Presente">
            <h3>Doces</h3>
            <p>Aproveite os doces natalinos.</p>
        </div>
        <div class="acessorios-box-item">
            <img src="../../assets/giving3.png" alt="Caixa de Presente">
            <h3>Muito Amor</h3>
            <p>Aproveite os sentimentos que duram para sempre.</p>
        </div>
    </div>
</div>