<div class="comemore" id="doacao">
    <div class="comemore-box">
        <div class="comemore-box-img">
            <img src="../../assets/shared-.png" alt="Compartilhe presentes">
        </div>
        <div class="comemore-box-txt">
            <h2>Comemore com muito amor!</h2>
            <p>Nestes feriados, festeje com muito amor e paz, 
                oferecendo muitas bênçãos aos nossos entes queridos,
                amigos e vizinhos, desejando-lhes um Feliz Natal.
            </p>
            <div class="comemore-btn">
                <img src="../../assets/gift.png" alt="Logo de presente">
                Fazer doação
            </div>
        </div>
    </div>
</div>